{% load static %} {% block content %}
{% if is_auth %}
  <p>Already logged as {{request.user.username}} in do you want to <a href={% url "sign_out" %}>log out</a></p>
  <p>if not click <a href={% url "home" %}>here</a> to go back to homePage</p>
{% else %}
<!-- Account Page -->
<link rel="stylesheet" href={% static "css/account.css" %}>
<h2>Weekly Coding Challenge #1: Sign in/up Form</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action={% url "sign_up" %} , method="post">
			{% csrf_token %}
			<h1>Create Account</h1>
			{{form}}
			<button type="submit">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action={% url "sign_in" %} method="post">
			{% csrf_token %}
			<h1>Sign in</h1>
			<!-- <div class="social-container">
				<a href="#" class="social" title="Facebook"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social" title="Google"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social" title = "Linkedin"><i class="fab fa-linkedin-in"></i></a>
			</div> -->
			<!-- <span>or use your account</span> -->
			<!-- <input type="text" placeholder="username or email" name="username"/>
			<input type="password" placeholder="Password" name="password"/> -->
			{{ login }}
			<!-- {{ login.password1 }}
			{{ login.captcha }} -->
			<button type="submit">Sign In</button>
			<br>
			<br>
			<a href={% url "password-reset" %}>Forgot your password?</a>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

{% if ObjectDoesNotExist %}
  <p>Wrong username or password</p>
{% endif %}


<script>const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');
    
    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });
    
    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });</script>

{% endif %}
{% endblock content %}
