<div class="center">
    <form method="post" class="card" novalidate>
        {% csrf_token %}
      <h2 class="text-center">Log in to your account</h2>
      {% for field in form %}
              {{ field.label_tag }} 
              {{ field }}
              {% if field.errors %}
                  <small>{{ field.errors|striptags  }}</small> 
              {% endif %}
      {% endfor %}
      
      <p>You may now log in <a href={% url "account" %} style="color: blue;">here </a></p>
      <hr>
      <p class="text-center">Forgot your password <a href="{%url 'password-reset'%}">Reset Password</a></p>
      <p class="text-center">Don't have a account? <a href="{%url 'account'%}">Join Now</a></p>
  </form>
</div>
