{% extends "home/base.html" %} {% load static %} {% block content %}

{% if FailCaptcha %}
<script>
    setTimeout(function(){
         window.location.href = "/account";
      }, 3000);
</script>
<p>Please solve the captcha correctly.</p>
{% elif ObjectDoesNotExist %}
<script>
    setTimeout(function(){
         window.location.href = "/account";
      }, 3000);
</script>
<p>Wrong Username or Password</p>
{% else %}
<script>
    setTimeout(function(){
         window.location.href = "/";
      }, 3000);
</script>
    <p>login successful redirecting ...</p>
{% endif %}


{% endblock content %}