<div class="small-container">
  <h2 class="title">Latest Posts</h2>
  <div id="slideshow-wrap">
    <input type="radio" id="button-1" name="controls" checked="checked" />
    <label for="button-1"></label>
    <input type="radio" id="button-2" name="controls" />
    <label for="button-2"></label>
    <label for="button-1" class="arrows" id="arrow-1">></label>
    <label for="button-2" class="arrows" id="arrow-2">></label>
    <div id="slideshow-inner">
      <ul>
        <li id="slide1">
          <div class="row">
            <span class="col-3">
              <img src="{{last_post1.image.url}}" />
              <h2><a href={% url "blog_detail" title=last_post1.title %}>{{last_post1.title}}</a></h2>
              <p>{{last_post1.content|truncatewords:20}}</p>
            </span>
            <span class="col-3">
              <img src="{{last_post2.image.url}}" />
              <h2><a href={% url "blog_detail" title=last_post2.title %}>{{last_post2.title}}</a></h2>
              <p>{{last_post2.content|truncatewords:20}}</p>
            </span>
            <span class="col-3">
              <img src="{{last_post3.image.url}}" />
              <h2><a href={% url "blog_detail" title=last_post3.title %}>{{last_post3.title}}</a></h2>
              <p>{{last_post3.content|truncatewords:20}}</p>
            </span>
          </div>
        </li>
        <li id="slide2">
          <div class="row">
            <span class="col-3">
              <img src="{{last_post4.image.url}}" />
              <h2><a href={% url "blog_detail" title=last_post4.title %}>{{last_post4.title}}</a></h2>
              <p>{{last_post4.content|truncatewords:20}}</p>
            </span>
            <span class="col-3">
              <img src="{{last_post5.image.url}}" />
              <h2><a href={% url "blog_detail" title=last_post5.title %}>{{last_post5.title}}</a></h2>
              <p>{{last_post5.content|truncatewords:20}}</p>
            </span>
            <span class="col-3">
              <img src="{{last_post6.image.url}}" />
              <h2><a href={% url "blog_detail" title=last_post6.title %}>{{last_post6.title}}</a></h2>
              <p>{{last_post6.content|truncatewords:20}}</p>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
